<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="OWM_ApiKey" value="encrypt:6e59d6838327c89dbf668c45106e3cc7"/>
		<add key="OWM_Endpoint" value="https://api.openweathermap.org/data/2.5/onecall?"/>
		<add key="OWM_DefaultLatitude" value="52.23"/>
		<add key="OWM_DefaultLongitude" value="21.01"/>
		<add key="TWILIO_AccountSID" value="encrypt:YOUR_TWILIO_ACCOUNT_SID"/>
		<add key="TWILIO_AuthToken" value="encrypt:YOUR_TWILIO_AUTH_TOKEN"/>
		<add key="TWILIO_PhoneNumberFrom" value="YOUR_TWILIO_NUMBER"/>
		<add key="PhoneNumberToSendSms" value="+48123456789"/>
		<add key="ExecutionHour" value="6"/>
	</appSettings>
</configuration>